<h2>Mis compras</h2>


{{#if context}}

{{#each userTickets}}
<div class="row justify-content-center">
    <div class="col-md-8">
     
      <h2 class="mt-4">Detalle de la compra</h2>

      <ul class="list-group">
        <li class="list-group-item">Detalle: {{this.detail}}</li>
        <li class="list-group-item">Precio Total: {{this.amount}}</li>
        <li class="list-group-item">Código de la compra: {{this.code}}</li>
        <li class="list-group-item">Fecha: {{this.purchase_datetime}}</li>
      </ul>

     
    </div>
  </div>
{{/each}}

{{else}}
<h2>El usuario no ha realizado compras</h2>

{{/if}}