<h1>Lista de Usuarios</h1>
    <table class="table table-primary">
      <thead>
        <tr>
          <th>Avatar</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Rol</th>
        </tr>
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <td><img src="{{avatar}}" alt="Avatar" width="50" height="50"></td>
          <td>{{name}}</td>
          <td>{{lastName}}</td>
          <td>{{email}}</td>
          <td>{{role}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>